*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
        font-family: 'Work Sans', sans-serif;
        
    }
    /* header-styles */
    header{
        width: 100%;
        min-height: auto;
        background-color:rgba(255, 144, 14, 0.1);
        
    }
    .logo-title{
        padding-top: 15px;
    }
    .header-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
    .header-nav-bar ul{
        display: flex;
    }
    .header-nav-bar li{
        list-style: none;
        margin-left: 20px;
    }
    .header-nav-bar li a{
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        color: #424242;
    }
    .logo-title{
        font-weight: 700;
        font-size: 45px;
        color:#131313;
        
    }
    .middle-header{
        text-align: center;
        margin:150px 200px 50px 200px
       
    }
    .middle-title{
        font-size: 64px;
        font-weight: 700;
        color:#131313;
        margin-bottom: 10px;
       
    }
    .middle-description{

        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
        text-align: center;
        
        margin-bottom: 32px;
    }
    .primary-btn{
        background: #FF900E;
        padding: 15px 25px;
        border-radius: 8px;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        margin-bottom: 50px;
    }

    .middle-banner img{
        width: 100%;
        height: 500px;
        margin-bottom:36px ;
    }

    /* features-area-styles */
    
    .quick-list-area{
       display: flex;
       align-items: center;
       margin: 50px 80px;
    }
    .quick-list-images{

        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-gap: 20px;
    }
    .quick-list-images>img{
        width: 200;
        height: 200;
        border-radius: 8px;
        background-color: #FF900E;
    }
    .quick-text-area{
        margin-left: 30px;
    }
    .quick-text-title{
        font-weight: 700;
        font-size: 45px;
    }
    .quick-text-description{
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #727272;
        text-align: justify;
        
        margin-bottom: 32px;
    }

    /* <!-- fetures experience start --> */

    .love-enjoyed{
        margin: 60px;
    }
    .love-enjoyed-details{
        display: flex;
        
    }
    .love-enjoyed-text-area{
        width: 50%;
    }

  .love-enjoyed-title{
    font-weight: 700;
    font-size: 45px;
    font-size: 45px;
    color: #131313;
    border-left: 4px solid #FF900E;
    padding: 20px;
    
  }
  .love-enjoyed-item{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 54px;
  }

.item-title{
    font-size: 20px ;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    Line-height:26px;
}
.enjoyed-item-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: justify;
}
    .love-enjoyed-img{
        width: 50%;
    }
    .love-enjoyed-img img{
        width: 100%;
        height: 850px;
        
    }
    .arcitect-img{
        z-index: 5;
        position: relative;
    }
    .love-enjoyd-btn{
        padding: 30px 40px;
        background: #FF900E;
        border-radius: 8px;
        font-size: 35px;
        color: #FFFFFF;
        margin-top: -90px;
        border: 0;
        z-index: 6;
        position: absolute
    }

    /* some facts area-styles */
    .some-facts-area{
        margin-bottom: 180px;
    }
    .some-factts-title{

        margin: 40px;
    }
    .some-text-title{
        font-weight: 700;
        font-size: 45px;
        color: #131313;
        margin-bottom: 15px;
    }


    .some-facts-items{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .some-facts-item img{
        text-align: center;
    }
    .some-facts-item h2{
        font-weight: 600;
        font-size: 45px;
        color: #424242;
        padding-bottom: 5px;

    }
    .some-facts-item{
        width: 240px;
        padding: 40px 30px ;
        border: 1px solid #FF900E;
        border-radius: 8px;
        text-align: center;
        height: 240px;
       transition: all 360ms ease-in-out; 
    }
    .some-facts-item:hover{
        box-shadow: 0px 2px 10px;
        }

    /* sponsoorship  styles */

    .sponsor-text{
        text-align: center;
        

    }
    .sponsor-title{
        font-weight: 700;
        font-size: 45px;
        margin-bottom: 24px;
    }

    .sponsor-logo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 50px;
        
    }
    .sponsor-logo img{
        width: 150px;
    }


    .team-title{
        font-size: 40px;
        margin-left: 20px;
        margin-bottom: 20px;

    }
    .team-member{
      display: flex;
      justify-content: space-around;
    }
    .team-member img{
        border-radius: 10px;
        box-shadow: 5px 5px 10px gray;
        transition: all 360ms ease-in-out; 
    }
    .team-member img:hover{
        box-shadow: 0px 2px 10px;
    }
    .team-member h3{
        font-size: 25px;
        font-weight: 600;
        margin-top: 10px;
       text-align: center;
       color:#131313
    }
    .team-member h4{
        text-align: center;
    }

    /* footer  styles */
    .footer{
        width: 950px;
        height: 90px;
        background: #FFF4E7;
        border-radius: 8px;
        margin: 150px;
        
    }

    .footer p{
        text-align: center;
        padding-top: 40px;
        font-weight: 400;
        font-size: 20px;
        color: #424242;
    }


    /* media quaries */

    @media  screen and (max-width:668px) {
    
      .header-container{
        flex-direction: column;
        align-items: center;
      }
      .header-nav-bar ul{
        flex-direction: column;
        box-shadow: 0px 8px 30px lightgray;
        padding: 20px;
        
      }
      .header-nav-bar ul  li{
        margin-top: 15px;
      }
      .logo-title{
        font-size: 30px;
      }
      .middle-header{
        
        margin-left: -1px;
      }
     
      .middle-title{
        font-size: 25px;
        margin-left: 30%;
      }
    
    
      .quick-list-area {
        flex-direction: column;
    }
      .quick-list-images{
        grid-template-columns: 1fr ;
        grid-gap: 20px;
    }
    .quick-text-areas{
        margin-left: 30%;
        background-color: #FF900E;
        }
    .quick-text-title{
      
        font-size: 30px;
    }
    .middle-banner img{
        display: none;
    }
    .love-enjoyed-title{
        font-size: 30px;
        margin-left: 30%;
    }
    .love-enjoyed-details{
        flex-direction: column;
        
    }
    .love-enjoyed-text-area{
        width: 100%;
        
    }
    .item-title{
        margin-left: 30%;
        
        
    }

    .some-text-title{
        font-size: 30px;
        margin-left: 30%;
    }
    .enjoyed-item-description{
        width: 400px;
        margin-left: 30%;
    }
    .some-facts-items {
        flex-direction: column;
        gap: 20px;
       
    }


    .love-enjoyd-btn{
        display: none;
    }
    .arcitect-img{
        display: none;
    }
    .sponsor-title{
        font-size: 30px;
    }
    .middle-description{
        width: 300px;
        margin-left: 30%;
        text-align: justify;
    }

     .sponsor-logo {
        flex-direction: column;
     }
     .sponsor-logo img{
        margin-bottom: 25px;
     }
     /* team section media quaries */
      .team-title{
        font-size: 30px;
        margin-left: 30%;
      }
     .team-member{
        flex-direction: column;
        justify-content: center;
     }
     .team-member img{
        margin-left: 30%;
        margin-top: 10px;
     }
     .footer{
        width: 400px;
        text-align: center;
     }
}    
